<div class="template-travoasia page-community responsive components-built">
  <div class="hero-container" style="background: url(<%= @general_settings.community_page_image %>) no-repeat center center / cover">
    <div class="layout-centered-content">

      <h1 class="entry-title"><%= @general_settings.community_page_header_text.present? ? @general_settings.community_page_header_text : t('site.community_page_header') %></h1>

      <h2><p><%= @general_settings.community_page_header_sub_text.present? ? @general_settings.community_page_header_sub_text : t('site.community_page_header_sub') %></p>
      </h2>
      <div class="button-container" style="display:none;">
        <a href="#" class="button-1 link-talent-form">REQUEST A PROPOSAL</a>
      </div>

    </div>
  </div>

  <div class="section layout-centered-content" style="padding-top:15px;">

    <div class="cf">
      <div class="top-right-social-buttons">
        <span class="share-count"><%= facebook_likes(community_url, 'share_count') %> shares</span>
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= community_url %>" class="fb-share-button" data-share-url="http://www.studiotime.io/community/">Facebook</a>
      </div>
    </div>

    <ul class="block-grid cf">
      <% @site_communities.all.each do |site_community| %>
          <li class="featured-listing" style="background:url(<%= site_community.image.url %>) center center no-repeat; background-size:cover;">
            <a href="<%= community_profile_path(site_community.slug) %>" class="">
              <span class="label-center thin"><%= site_community.designation %></span>
              <span class="hover-content"><%= truncate(site_community.about, :length => 200) %></span>
            </a></li>
      <% end %>
    </ul>

    <div class="text-centered">...and many more coming soon!</div>

  </div>

  <div class="featured-artist-hero-container" style="background: url(<%= @general_settings.community_page_middle_image %>) no-repeat center center / cover">
    <div class="layout-centered-content">
      <h1 class="entry-title"><%= @general_settings.community_page_middle_text.present? ? @general_settings.community_page_middle_text : t('site.community_middle_header') %></h1>

      <h2> <%= @general_settings.community_page_middle_sub_text.present? ? @general_settings.community_page_middle_sub_text : t('site.community_page_middle_header_sub') %></h2>
    </div>
  </div>

  <div class="section layout-centered-content">

    <div class="contact-us-container">
      <h1><%= @general_settings.community_page_lower_text.present? ? @general_settings.community_page_lower_text : 'Want to be featured on Studiotime?' %></h1>
      <%= @general_settings.community_page_lower_sub_text.present? ? @general_settings.community_page_lower_sub_text : 'Increccase your exposure and become part of the hottest online music community.' %>
      <div class="button-container">
        <a class="button-1" href="https://listings.studiotime.io/en/user_feedbacks/new">CONTACT US</a>
      </div>
    </div>

  </div>
</div>