<% content_for :javascript do %>
    <!--initialize_profile_view("#{@person.username}");-->
<% end %>
<% content_for :title_header do %>
    <h1>
    <span class="profile-title">
    "Reschedule Request List
      <%#= @person.name(@current_community) + (@community_customization && @community_customization.storefront_label ? @community_customization.storefront_label : "") %>
    </span>
    </h1>
<% end %>

<div class="row">
  <div class="request-list">
    <% if @request.present? %>
        <table id="admin_members_list">
          <thead>
          <tr>
            <th>Listing </th>
            <th>Requested By </th>
            <th>Reason </th>
            <th>Start On(Actual)</th>
            <th>End On(Actual)</th>
            <th>Start On(Requested)</th>
            <th>End On(Requested)</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <% @request.each do |request| %>
              <tr>
                <td><%= get_title(request.transaction_id) %></td>
                <td><%= request.tx.starter.given_name %></td>
                <td><%= request.reason %></td>
                <td><%= request.tx.booking.start_on %></td>
                <td><%= request.tx.booking.end_on %></td>
                <td><%= request.start_on %></td>
                <td><%= request.end_on %></td>
                <td>
                <%= link_to accept_reschedule_request_people_path(transaction_id: request.transaction_id), title: 'Accept' do %>
                    <i class="icon-ok"></i>
                <% end %>
              </td>

                <td>
                  <%= link_to  reject_reschedule_request_people_path(transaction_id: request.transaction_id), title: 'Reject' do %>
                      <i class="icon-remove"></i>
                  <% end %>
                </td>

          <% end %>
          </tbody>
        </table>
    <% else %>
       You Don't Have any Request
    <% end %>
  </div>
</div>