<section class="marketplace-lander">
  <div class="coverimage">
    <figure class="marketplace-cover-small fluidratio"></figure>
    <div class="coverimage-fade">
      <figure class="marketplace-cover-small-fade fluidratio"></figure>
    </div>
  </div>
  <div class="title-container">
    <div class="title-header-wrapper">
      <div class="marketplace-title-header">
        <h1>
          <span id="listing-title" class="listing-title"> Featured Giude: <%= @site_community.name %> </span>
        </h1>
      </div>
    </div>
  </div>
</section>

<div class="community-profile layout-centered-content cf">
  <div class="body-left-content cf pull-left">
    <div class="bio-content">
      <div class="bio-box">
        <div class="main-img" style="background:url(<%= @site_community.image.url %>) center center no-repeat; background-size:cover;">&nbsp;</div>
        <h1 class=""><%= @site_community.name %></h1>

        <h2 class="subheader"><%= @site_community.designation %></h2>

        <h2 class="subheader"><%= @site_community.address %></h2>

        <div class="social-info">
          <% if @site_community.facebook_url.present?  %>
              <a href="http://www.facebook.com/<%= @site_community.facebook_url %>" class="facebook-likes" target="_new">
                <i class="social-icon s-facebook icon-facebook"> </i>
                <%= facebook_likes(@site_community.facebook_url, 'like_count') %> Likes
              </a>
          <% end %>
        </div>
      </div>

      <div class="box-container">

        <div class="bio-section">
          <h2 class="no-top-padding">ABOUT</h2>

          <div class="content"><%= raw (@site_community.about) %>
          </div>

          <div class="bio-section">
            <h2>Language Spoken and Written</h2>

            <div class="content"><%= @site_community.language %></div>
          </div>

          <div class="bio-section">
            <h2>Know more about this guide</h2>

            <div class="content">
              <a href="<%= @site_community.travoasia_profile %>" target="_blank">Click Here</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="floating-form" class="pull-left">
    <form class="form-layout-1" id="booking-form" data-hourly-rate="100" data-day-rate="800" data-currency="$">

      <div class="section no-border">
        <div class="section-title">OTHER INFO</div>

        <ul class="rate-list">
          <li class="cf">
            <div class="item">Favourite Places You Can Bring The
              Guest To</div>
            <div class="rate"><%= @site_community.favourite_places %></div>
          </li>
          <li class="cf">
            <div class="item">Can drive Guests Around the City?</div>
            <div class="rate"><%= @site_community.drive_guests %></div>
          </li>
          <li class="cf">
            <div class="item">Verification</div>
            <div class="rate"><%= @site_community.verification %></div>
          </li>

        </ul>

      </div>

      <!--<div class="section contact-button-container">-->
        <!--<div class="button-row">-->
          <!--<a href="#modal" class="btn button-1 size-plus-1 block link-talent-form">CONTACT <%#= @site_community.name %></a>-->
        <!--</div>-->
      <!--</div>-->


      <div class="section">
        <div class="button-row">
          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= community_profile_url(@site_community.slug) %>" class="btn button-1 size-plus-1 block black-1 facebook fb-share-button" data-share-url="http://www.studiotime.io/profile/rob-harkness/">
            <i class="fa fa-facebook"></i>Share On Facebook
          </a>
        </div>
      </div>

    </form>
  </div>
</div>


<div class="remodal" data-remodal-id="modal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>Contact With <%= (@site_community.name) %></h1>
  <%= form_tag send_contact_email_path(@site_community.slug),:method => "get" do %>
      <%= text_field_tag 'name','', placeholder: "Name", required:true %>
      <br>
      <br>
      <%= text_field_tag 'email','', placeholder: "Email", required:true %>
      <br>
      <br>
      <%= text_area_tag 'description','', placeholder: "Description goes here." %>
      <br>
      <br>
      <%= submit_tag "Submit", class: 'remodal-confirm' %>
      <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
  <% end %>

</div>
