<!DOCTYPE html>
<html>
<head>
  <style>
      @import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&subset=latin-ext);
  </style>
  <title> Travoasia </title>
  <%= stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'remodal' %>
  <%= stylesheet_link_tag 'remodal-default-theme' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<div class="template-travoasia">
  <%= render 'shared/landing_footer' %>
</div>
</body>
</html>
