<!DOCTYPE html>
<html>
<head>
  <title>TestDesign</title>
  <%= stylesheet_link_tag 'landing', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<div class="template-travoasia">
  <%= render 'shared/landing_footer' %>
</div>
</body>
</html>
